/**
* @version   $Id: master-iphone.css 23495 2014-10-13 14:32:37Z arifin $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

@media (max-width: 767px) {
	body.layout-mode-responsive.gf-sidemenu-size-marginleft.scrolling-enable #rt-header {
		left: 280px;
	}
}