/**
* @version   $Id: master-ie11.css 23944 2014-11-14 14:32:47Z kat $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

/* Navigation */
body .gf-menu.l1 > li.parent > .item:after {top: 50%;margin-top: 5px;}

/* Mainbody */
body #rt-content-top, body #rt-content-bottom {display: block;}