/**
* @version   $Id: master-ie8.css 23944 2014-11-14 14:32:47Z kat $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2012 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

/* Body Overflow */
body #rt-page-surround {overflow: visible !important;}

/* Navigation */
body .dropdown {zoom: 1;}
body .gf-menu.l1 > li.parent > .item:after {top: 50%;margin-top: 8px !important;}
body .gf-menu.l1 > li.active > .item {zoom: 1;}
body .gf-menu li.modules:hover {filter: none;}

/* DropDown Direction */
body .rt-dropdown-left-desktop:hover > .dropdown {left: auto !important;right: 100% !important;}
body .gf-menu > .rt-dropdown-left-desktop:hover > .dropdown {left: auto !important;right: 0 !important;}
body .rt-dropdown-right-desktop:hover > .dropdown {left: 100% !important;right: auto !important;}
body .gf-menu > .rt-dropdown-right-desktop:hover > .dropdown {left: 0 !important;right: auto !important;}

/* Button */
.btn.disabled:hover, .btn.disabled.btn-primary:hover {filter: alpha(opacity=65);zoom: 1;}

/* Module Variations */
body [class^="box"] .module-content [class*="custom"], body [class*=" box"] .module-content [class*="custom"] {filter: none;}

/* Joomla Pagination */
body .pagination ul li a {filter: none;}

/* RokAjaxSearch */
body .rokajaxsearch .inputbox {padding-top: 7px;}

/* RokSprocket Strips */
body .sprocket-strips .sprocket-strips-item {filter: none !important;}
body .sprocket-strips-pagination li {background: #aaaaaa;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";}

/* RokSprocket Mosaics */
body [class*="sprocket"] .sprocket-mosaic-filter li, body [class*="sprocket"] .sprocket-mosaic-order li {filter: none;}
body .sprocket-mosaic-hover {background: #333333;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";}

/* RokSprocket Lists */
body .sprocket-lists-pagination li, body .sprocket-lists-arrows .arrow {background: #aaaaaa;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";}

/* Desktop Responsive Class */
body .visible-large {display: none !important;}
body .hidden-large {display: inherit !important;}
body .visible-desktop {display: inherit !important;}
body .hidden-desktop {display: none !important;}
body .gf-menu-device-container {display: none !important;}

/* Gantry Core */
body [class*="rt-grid"] {display: inline;float: left;margin: 0;position: relative;}
body .rt-grid-1:before, body .rt-grid-2:before, body .rt-grid-3:before, body .rt-grid-4:before, body .rt-grid-5:before, body .rt-grid-6:before, body .rt-grid-7:before, body .rt-grid-8:before, body .rt-grid-9:before, body .rt-grid-10:before, body .rt-grid-11:before, body .rt-grid-12:before {display: table;content: "";clear: both;}
body .rt-grid-1:after, body .rt-grid-2:after, body .rt-grid-3:after, body .rt-grid-4:after, body .rt-grid-5:after, body .rt-grid-6:after, body .rt-grid-7:after, body .rt-grid-8:after, body .rt-grid-9:after, body .rt-grid-10:after, body .rt-grid-11:after, body .rt-grid-12:after {display: table;content: "";clear: both;}
body .gantry-width-10, body .gantry-width-20, body .gantry-width-25, body .gantry-width-30, body .gantry-width-33, body .gantry-width-40, body .gantry-width-50, body .gantry-width-60, body .gantry-width-66, body .gantry-width-70, body .gantry-width-75, body .gantry-width-80, body .gantry-width-90 {
	display: block;
	float: left;
}

/* Grid Layout */
body .rt-container {width: 960px;}
body .rt-container .rt-grid-1 {width: 80px;}
body .rt-container .rt-grid-2 {width: 160px;}
body .rt-container .rt-grid-3 {width: 240px;}
body .rt-container .rt-grid-4 {width: 320px;}
body .rt-container .rt-grid-5 {width: 400px;}
body .rt-container .rt-grid-6 {width: 480px;}
body .rt-container .rt-grid-7 {width: 560px;}
body .rt-container .rt-grid-8 {width: 640px;}
body .rt-container .rt-grid-9 {width: 720px;}
body .rt-container .rt-grid-10 {width: 800px;}
body .rt-container .rt-grid-11 {width: 880px;}
body .rt-container .rt-grid-12 {width: 960px;}

body .rt-container .rt-push-1 {left: 80px;}
body .rt-container .rt-push-2 {left: 160px;}
body .rt-container .rt-push-3 {left: 240px;}
body .rt-container .rt-push-4 {left: 320px;}
body .rt-container .rt-push-5 {left: 400px;}
body .rt-container .rt-push-6 {left: 480px;}
body .rt-container .rt-push-7 {left: 560px;}
body .rt-container .rt-push-8 {left: 640px;}
body .rt-container .rt-push-9 {left: 720px;}
body .rt-container .rt-push-10 {left: 800px;}
body .rt-container .rt-push-11 {left: 880px;}

body .rt-container .rt-pull-1 {left: -80px;}
body .rt-container .rt-pull-2 {left: -160px;}
body .rt-container .rt-pull-3 {left: -240px;}
body .rt-container .rt-pull-4 {left: -320px;}
body .rt-container .rt-pull-5 {left: -400px;}
body .rt-container .rt-pull-6 {left: -480px;}
body .rt-container .rt-pull-7 {left: -560px;}
body .rt-container .rt-pull-8 {left: -640px;}
body .rt-container .rt-pull-9 {left: -720px;}
body .rt-container .rt-pull-10 {left: -800px;}
body .rt-container .rt-pull-11 {left: -880px;}

body .rt-container .rt-prefix-1 {padding-left: 80px;}
body .rt-container .rt-prefix-2 {padding-left: 160px;}
body .rt-container .rt-prefix-3 {padding-left: 240px;}
body .rt-container .rt-prefix-4 {padding-left: 320px;}
body .rt-container .rt-prefix-5 {padding-left: 400px;}
body .rt-container .rt-prefix-6 {padding-left: 480px;}
body .rt-container .rt-prefix-7 {padding-left: 560px;}
body .rt-container .rt-prefix-8 {padding-left: 640px;}
body .rt-container .rt-prefix-9 {padding-left: 720px;}
body .rt-container .rt-prefix-10 {padding-left: 800px;}
body .rt-container .rt-prefix-11 {padding-left: 880px;}

/* Heading and Title */
h1 {font-size: 15px * 1.45; line-height: 26px * 1.5;}
h2, .title {font-size: 15px * 1.15; line-height: 26px * 1.2;}
h3 {font-size: 15px * 1.1; line-height: 26px * 1.15;}
h4 {font-size: 15px * 1.05; line-height: 26px * 1.15;}
h5 {font-size: 15px * 1.0; line-height: 26px * 1.15;}
h6 {font-size: 15px * 0.95; line-height: 26px * 1.05;}

/* Input */
body .inputbox {padding-top: 12px !important;}
body .inputbox[type='checkbox'] {padding: 0 !important;}

/* Counter */
body #rt-comingsoon-counter .number {filter: none !important;}

/* RokSprocket */
.sprocket-lists-image, .sprocket-lists-text {float: left; box-sizing: border-box;}
.sprocket-features-list, .sprocket-features-pagination {float: left;}
.sprocket-strips-container > li {float: left;position: relative;z-index: 20;}
.sprocket-strips-container > li:hover {z-index: 30;}
.cols-1 > li {width: 100%;}
.cols-2 > li {width: 50%;}
.cols-3 > li {width: 33.333333%;}
.cols-4 > li {width: 25%;}
.cols-5 > li {width: 20%;}
.cols-6 > li {width: 16.666667%;}
.cols-7 > li {width: 14.285714%;}
.cols-8 > li {width: 12.5%;}
.cols-9 > li {width: 11.111111%;}
.cols-10 > li {width: 10%;}
.cols-11 > li {width: 9.090909%;}
.cols-12 > li {width: 8.333333%;}

/* Demo Stuff */
body h1 {font-size: 23.1px;line-height: 33.8px;}
body h2, body .title {font-size: 21.7px;line-height: 33.8px;}
body h3 {font-size: 20.3px;line-height: 31.2px;}
body h4 {font-size: 19.6px;line-height: 31.2px;}
body h5 {font-size: 16.8px;line-height: 28.6px;}
body h6 {font-size: 15.4px;line-height: 28.6px;}
body .blog-featured .item > h2 {font-size: 25.2px;line-height: 35.1px;}
body .fp-roksprocket-grids-utility .sprocket-grids-b-content {padding: 20px;}
body .fp-expandedtop .rt-box1 .title,
body .fp-expandedtop .rt-box2 .title,
body .fp-expandedtop .rt-box3 .title {font-size: 2.1em;}
body .fp-roksprocket-strips-sidebar .sprocket-strips .sprocket-strips-arrows .arrow.prev {left: 8px;}
body .fp-roksprocket-strips-sidebar .sprocket-strips .sprocket-strips-arrows .arrow.next {right: 8px;}
body .fp-horizmenu.rt-block {padding-left: 70px;}

body .fp-roksprocket-features-showcase .layout-showcase .rt-triangle-2 {border-color: transparent transparent #80C294;}
body .fp-roksprocket-features-showcase .layout-showcase .rt-triangle-3 {border-color: transparent transparent #FEFCD0;}
body .rt-sideslider-wrap .rt-sideslider-close-button {display: none;}
body .rt-sideslider-button {font-size: 1.5em;margin: 10px;text-indent: 0;}
body .rt-sideslider-button:before {background: transparent; color: #585858; font-family: FontAwesome; content: '\f0c9';}
body .rt-sprocket-text .gantry-width-30, body .rt-sprocket-text .gantry-width-60, body .rt-sprocket-text .gantry-width-70 {float: none;}
body .fp-feature .rt-square-set {margin-bottom: 0;}
body .fp-roksprocket-grids-utility.rt-block {margin-top: 150px;}
body .fp-expandedtop .rt-box1, body .fp-expandedtop .rt-box2, body .fp-expandedtop .rt-box3 {border: 1px solid #a8a8a8;}
body .rt-image-content {top: 0;left: 0;text-align: center;padding: 50px;}

/* Mainbody */
body #rt-content-top, body #rt-content-bottom {display: block;}
