/**
 * @version   $Id: tabs.css 23495 2014-10-13 14:32:37Z arifin $
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */
 
/* Tabs Core */
.sprocket-tabs {position: relative;overflow: hidden;-webkit-transform: translateZ(0);-webkit-backface-visibility: hidden;}
.sprocket-tabs:before, .sprocket-tabs:after {display: table;content: "";*zoom: 1;}
.sprocket-tabs:after {clear: both;}

/* Tabs Nav */
.sprocket-tabs-nav {margin: 0;padding: 0;list-style: none !important;position: relative;z-index: 2;}
.sprocket-tabs-nav {*zoom: 1;}
.sprocket-tabs-nav:before, .sprocket-tabs-nav:after {display: table;content: "";}
.sprocket-tabs-nav:after {clear: both;}
.sprocket-tabs-nav li {float: left;position: relative;}
.sprocket-tabs-nav > li > .sprocket-tabs-inner {display: block;}
.sprocket-tabs-nav > .active > a {cursor: default;}
.sprocket-tabs-nav li .sprocket-tabs-inner {cursor: pointer;display: block;padding: 5px 15px;font-size: 1em; opacity: 0.5;}
.sprocket-tabs .sprocket-tabs-nav > li.active > .sprocket-tabs-inner {opacity: 1;}
.sprocket-tabs-nav .dropdown-menu {margin-top: 1px;border-width: 1px;}
.sprocket-tabs-nav .sprocket-tabs-icon {float: left;margin-right: 5px;}

/* Tabs Nav - Layout Bottom */
.layout-bottom .sprocket-tabs-nav > li {margin: 0;}

/* Tabs Nav - Layout Left / Right  */
.layout-left .sprocket-tabs-nav, .layout-right .sprocket-tabs-nav {border-bottom: 0;}
.layout-left .sprocket-tabs-nav {float: left;margin-right: 20px;padding: 0;}
.layout-right .sprocket-tabs-nav {float: right;margin-left: 20px;padding: 0;}
.layout-left .sprocket-tabs-nav > li, .layout-right .sprocket-tabs-nav > li {float: none;margin: 0;}
.layout-left .sprocket-tabs-nav > li > .sprocket-tabs-inner, .layout-right .sprocket-tabs-nav > li > .sprocket-tabs-inner {min-width: 80px;margin-right: 0;margin-bottom: 0;}
.layout-left .sprocket-tabs-nav, .layout-right .sprocket-tabs-nav {min-height: 150px;}

/* Tabs Content */
.sprocket-tabs-panels > .sprocket-tabs-panel {position: absolute;opacity: 0;height: 0;width: 0;visibility: hidden;padding: 0; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; }
.sprocket-tabs-panels > .sprocket-tabs-panel.active {position: static;opacity: 1;height: auto;width: 100%;visibility: visible;}
.layout-top.animation-slideandfade .sprocket-tabs-panel, .layout-bottom.animation-slideandfade .sprocket-tabs-panel {margin-left: 200px;}
.layout-top.animation-slideandfade .sprocket-tabs-panel.active, .layout-bottom.animation-slideandfade .sprocket-tabs-panel.active {margin-left: 0;}
.layout-left.animation-slideandfade .sprocket-tabs-panel, .layout-right.animation-slideandfade .sprocket-tabs-panel {margin-top: -200px;}
.layout-left.animation-slideandfade .sprocket-tabs-panel.active, .layout-right.animation-slideandfade .sprocket-tabs-panel.active {margin-top: 0;}
.sprocket-tabs .readon {margin: 0;}

/* Transitions */
.sprocket-tabs-nav li .sprocket-tabs-inner {transition: background 0.1s ease-in;-webkit-transition: background 0.1s ease-in;-moz-transition: background 0.1s ease-in;-o-transition: background 0.1s ease-in;}
.animation-slideandfade .sprocket-tabs-panel.active {-webkit-transition: margin 0.3s ease-out, opacity 0.4s ease-in;-moz-transition: margin 0.3s ease-out, opacity 0.4s ease-in;-o-transition: margin 0.3s ease-out, opacity 0.4s ease-in;transition: margin 0.3s ease-out, opacity 0.4s ease-in;}
.animation-fade .sprocket-tabs-panel.active {-webkit-transition: opacity 0.4s ease-in;-moz-transition: opacity 0.4s ease-in;-o-transition: opacity 0.4s ease-in;transition: opacity 0.4s ease-in;}

/* Custom */
.sprocket-tabs-nav li .sprocket-tabs-inner {color: #ffffff;background: rgba(0, 0, 0, 0.5);}
.sprocket-tabs-panels {padding: 15px;border: 1px solid rgba(0, 0, 0, 0.1);}
.layout-top .sprocket-tabs-nav li, .layout-bottom .sprocket-tabs-nav li {margin-right: 5px;}
.layout-left .sprocket-tabs-nav li, .layout-right .sprocket-tabs-nav li {margin-bottom: 5px;}
.layout-top .sprocket-tabs-panels {margin-top: 15px;}
.layout-bottom .sprocket-tabs-panels {margin-bottom: 15px;}
.layout-left .sprocket-tabs-panels {margin-left: 125px;}
.layout-right .sprocket-tabs-panels {margin-right: 125px;}