/**
 * @version   $Id: mainbody-light.less
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

@mobile-menu-background: 		#efefef;

@body-text:						#383838;
@body-text-light:				#b8b8b8;

@body-background:				#ffffff;
@body-background-alt:			#eaeaea;

@body-background3:				#fcfcfc;
@body-background4:				#eaeaea;

@body-title:					#303030;
@body-border:					#d5d5d5;
@body-border2:					#dddddd;
@body-border3:					#d1d1d1;
@body-contrast:					#ffffff;