/**
 * @version   $Id: template.less 12813 2013-08-16 21:57:09Z arifin $
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */

// Core
body {
	&.font-family-ricochet {
		font-family: @base-font-family;
	}
}

#rt-page-surround {
	overflow: hidden;
	background: @body-background;
	color: @body-text;
}

a {
	color: @accent-color1;
	.transition(all 0.2s ease-out);
	&:hover {
		color: inherit;
	}
}

// Heading and Title
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
h1 {font-size: @base-font-size * 1.8; line-height: @base-line-height * 1.3;}
h2, .title {font-size: @base-font-size * 1.7; line-height: @base-line-height * 1.3;}
h3 {font-size: @base-font-size * 1.6; line-height: @base-line-height * 1.2;}
h4 {font-size: @base-font-size * 1.5; line-height: @base-line-height * 1.2;}
h5 {font-size: @base-font-size * 1.3; line-height: @base-line-height * 1.1;}
h6 {font-size: @base-font-size * 1.2; line-height: @base-line-height * 1.1;}
.title {font-family: @alt-font-family;font-weight: bold;}
.blog-featured .item > h2, .items-leading [class*="leading-"] > h2 {font-family: @alt-font-family;font-weight: bold; font-size: @base-font-size * 2; line-height: @base-line-height * 1.35;}

// Logo
#rt-logo {
	display: block;
	margin: 0 15px;
	.logo-type-ricochet & {
		background-image: url(../images/logo/logo.png);
		background-repeat: no-repeat;
		width: 172px;
		height: 38px;
	}
}
.rt-logo-block {
	padding: 15px;
}

// Main Navigation
.menu-block {
    float: right;
    margin-right: 15px;
  background-image: url("/images/line.png");
	.gf-menu {
		.item {
			color: @header-textcolor;
			font-family: @alt-font-family;
			font-weight: bold;
			text-transform: uppercase;
		}
		&.l1 > li {
			> .item {
				height: 76px;
				padding: 0 10px;
			}
			&:hover, &:focus {
				> .item .menu-item-bg {
					color: @accent-color1;
				}
				> .item:after {
					color: @accent-color1;
				}
			}
			&.active {
				> .item .menu-item-bg {
					color: @accent-color1;
				}
				> .item:after {
					color: @accent-color1;
				}
			}
			&.parent > .item {
				> .menu-item-bg {
					padding: 5px 20px 5px 5px;
				}
			}
			&:hover {
				> .item .menu-item-bg:before {
					.transform(scaleX(0.35));
				}
			}
			&.parent.active, &.parent:hover {
				> .item .menu-item-bg:before {
					left: -7px;
					@media (min-width: 768px) and (max-width: 959px) {
						body.layout-mode-responsive & {
							left: 0;
						}
					}
				}
			}
		}
		li.parent > .item {
			&:after {
				right: 10px;
				font-size: @base-font-size;
			}
		}
		.dropdown {
			background: @accent-color1;
			border: 1px solid darken(@accent-color1, 15%);
			border-radius: 0;
			padding: 0;
			margin-top: -15px;
			li {
				border-bottom: 1px solid darken(@accent-color1, 15%);
				border-top: 1px solid lighten(@accent-color1, 10%);
				margin: 0;
				padding: 0 5x;
				.item {
					color: @white;
					padding: 3px 0;
					font-weight: normal;
				}
				.menu-item-bg {
					margin: 2px 0;
					padding: 2px 15px;
					border-radius: 2px;
					border: 1px solid transparent;
				}
				&:hover, &:focus {
					> .item .menu-item-bg {
						color: @white;
						background: darken(@accent-color1, 10%);
						border: 1px solid darken(@accent-color1, 15%);
					}
				}
				&.active {
					> .item .menu-item-bg {
						color: @white;
						background: darken(@accent-color1, 10%);
						border: 1px solid darken(@accent-color1, 15%);
					}
					> .item:after {
						color: @white;
					}
				}
				&:last-child {
					border-bottom: 0;
				}
			}
			.modules {
				padding: 15px 0;
				a {
					color: @white;
					font-family: @alt-font-family;
					&:hover {
						color: darken(@accent-color1, 25%);
					}
				}
				.readon {
					color: @white;
					background: darken(@accent-color1, 15%);
					&:hover {
						background: darken(@accent-color1, 25%);
					}
				}
			}
		}
		.grouped ol {
			border-radius: 0;
			background: darken(@accent-color1, 15%);
			border: 1px solid darken(@accent-color1, 25%);
		}
		.modules {
			color: @white;
			font-size: @base-font-size - 2;
		}
	}
	.menu-item-bg {
		display: block;
		padding: 5px 0;
		.transition(all 0.2s ease-in);
		.submenu & {
			padding: 0;
			margin: 0 -5px;
			display: inline-block;
		}
	}
}

.gf-menu-toggle {
	color: @accent-color1;
	background-color: transparent;
	border: 2px solid @accent-color1;
}

.layout-mode-responsive {
	.gf-menu-device-wrapper-sidemenu {
		background: @mobile-menu-background;
	}
	.gf-menu-device-container {
		background: @mobile-menu-background;
		.gf-menu {
			background-color: @mobile-menu-background;
			border-top: 15px solid @mobile-menu-background;
			border-bottom: 15px solid @mobile-menu-background;
			ul, ol,
			> li:first-child,
			> li.active:first-child,
			> li:last-child,
			li ol > li:last-child,
			li .columns-1 > .col1 > ul > li:last-child,
			li .columns-2 > .col2 > ul > li:last-child,
			li .columns-3 > .col3 > ul > li:last-child,
			li .columns-4 > .col4 > ul > li:last-child {
				background-color: @mobile-menu-background !important;
			}
			li {
				&:hover, &:focus, &.active {
					> .item .menu-item-bg {
						color: darken(@accent-color1, 25%);
						background: transparent;
					}
				}
			}
			.menu-item-bg {
				padding: 0 !important;
			}
			.item {
				border: 1px solid transparent;
				font-size: @menu-font-size + 1;
				font-family: @alt-font-family;
				font-weight: bold;
			}
			&.l1 .item {
				font-size: @menu-font-size + 1;
				border: none;
				background: none;
			}
			.dropdown {
				margin-top: 0;
			}
		}
	}
}

// Header Surround
#rt-header-surround {
	#with-sideslider & {
		padding-top: 45px;
	}
}

// Top
#rt-top {
	color: @top-textcolor;
	background: @top-background;
}

// Header
#rt-header {
	color: @header-textcolor;
	background: @header-background;
}

// Showcase
#rt-showcase {
	color: @showcase-textcolor;
	background: @showcase-background;
}

// Feature
.feature-type-customfeature #rt-feature {
	background-image: @feature-customfeature-image;
}
.feature-type-ricochet {
	#rt-feature {
		background-image: url(../images/backgrounds/feature/bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
}
#rt-feature {
	color: @feature-textcolor;
	background: @feature-background;
	.feature-type-ricochet & {
		.rt-bg-overlay {
			background: fadeout(@feature-background, 75%);
		}
	}
}

// Utility
#rt-utility {
	color: @utility-textcolor;
	background: @utility-background;
}

// ExpandedTop
#rt-expandedtop {
	color: @expandedtop-textcolor;
	background: @expandedtop-background;
}

// MainTop
#rt-maintop {
	color: @maintop-textcolor;
	background: @maintop-background;
	a {
		color: darken(@accent-color1, 20%);
		&:hover {
			color: inherit;
		}
	}
	.readon {
		color: @white;
		background: darken(@accent-color1, 20%);
		&:hover {
			background: darken(@accent-color1, 30%);
		}
	}
}

// ExpandedBottom
#rt-expandedbottom {
	color: @expandedbottom-textcolor;
	background: @expandedbottom-background;
}

// MainBottom
#rt-mainbottom {
	color: @mainbottom-textcolor;
	background: @mainbottom-background;
	a {
		color: darken(@accent-color1, 20%);
		&:hover {
			color: inherit;
		}
	}
	.readon {
		color: @white;
		background: darken(@accent-color2, 20%);
		&:hover {
			background: darken(@accent-color2, 30%);
		}
	}
}

// AdditionTop
#rt-additiontop {
	color: @additiontop-textcolor;
	background: @additiontop-background;
}

// Extension
#rt-extension {
	color: @extension-textcolor;
	background: @extension-background;
}

// AdditionBottom
#rt-additionbottom {
	color: @additionbottom-textcolor;
	background: @additionbottom-background;
}

// MainBody
#rt-mainbody-surround {
	background: @body-background;
}

// Bottom
#rt-bottom {
	color: @bottom-textcolor;
	background: @bottom-background;
}

// Footer
#rt-footer {
	color: @footer-textcolor;
	background: @footer-background;
	.title {
		color: darken(@footer-textcolor, 25%);
	}
}

// Copyright
#rt-copyright {
	color: @copyright-textcolor;
	background: @copyright-background;
	padding-bottom: 50px;
	.rt-container {
		border-top: 2px solid darken(@copyright-background, 5%);
	}
	.rt-block {
		margin: 25px 0;
	}
}


// Module Styling
.module-title {
	margin-bottom: 15px;
	.rt-title-center & {
		text-align: center;
	}
}
.rt-nomodulecontent {
	&.rt-block {
		padding: 50px 25px;
	}
	.module-content {
		display: none;
	}
}

// Module Suffix
[class^="fa-"], [class*=" fa-"] {
	&:before {
		font-family: FontAwesome;
	}
	&.rt-block, &[class*="custom"] {
		font-family: inherit;
		line-height: inherit;
		-moz-osx-font-smoothing: inherit;
		-webkit-font-smoothing: inherit;
		font-style: inherit;
		font-weight: inherit;
		&:before {
			display: none;
		}
	}
	&.rt-block {
		display: block;
	}
	&.title-icon {
		line-height: inherit;
		margin-right: 5px;
	}
}

[class^="title"], [class*=" title"] {
	&.rt-block {
		padding: 15px;
	}
	.title {
		padding: 5px 15px;
	}
}

[class^="box"], [class*=" box"] {
	border: 1px solid transparent;
	&.rt-block {
		margin-bottom: 25px;
	}
	[class^="box"], [class*=" box"] {
		border: none;
	}
	.readon {
		color: @white !important;
	}
	a:not(.readon) {
		&:hover {
			color: inherit;
		}
	}
}

.box1 {
	color: @white;
	background: @accent-color1;
	a:not(.readon) {
		.textColor(@accent-color1) !important;
		&:hover {
			color: inherit;
		}
	}
	ul.menu li {
		a, .item, .separator {
			color: @white !important;
			&:hover {
				.textColor(@accent-color1);
			}
		}
		&.current, &#current, &:hover > {
			a, .item, .separator {
				.textColor(@accent-color1)!important;
			}
		}
	}
	.readon {
		color: @white;
		border: 1px solid darken(@accent-color1, 12%);
		background: darken(@accent-color1, 8%);
		&:hover {
			color: @white;
			background: lighten(@accent-color1, 10%);
		}
	}
}
.box2 {
	color: @white;
	background: @accent-color2;
	.demostyle-type-preset6 &,
	.demostyle-type-preset7 &{
		background: darken(@accent-color3, 35%);
	}
	.demostyle-type-preset8 & {
		background: darken(@accent-color3, 40%);
	}
	a:not(.readon) {
		.textColor(@accent-color2) !important;
		.demostyle-type-preset6 &,
		.demostyle-type-preset7 & {
			.textColor(darken(@accent-color3, 35%)) !important;
		}
		.demostyle-type-preset8 & {
			.textColor(darken(@accent-color3, 40%)) !important;
		}
		&:hover {
			color: inherit;
		}
	}
	ul.menu li {
		a, .item, .separator {
			color: @white !important;
			&:hover {
				.textColor(@accent-color2);
			}
		}
		&.current, &#current, &:hover > {
			a, .item, .separator {
				.textColor(@accent-color2)!important;
			}
		}
	}
	.readon {
		color: @white;
		border: 1px solid darken(@accent-color2, 12%);
		background: darken(@accent-color2, 8%);
		&:hover {
			color: @white;
			background: lighten(@accent-color2, 10%);
		}
	}
}
.box3 {
	color: @dark-grey;
	background: @light-grey;
	a:not(.readon) {
		.textColor(@light-grey) !important;
		&:hover {
			color: inherit;
		}
	}
	ul.menu li {
		a, .item, .separator {
			color: @dark-grey !important;
			&:hover {
				.textColor(@light-grey);
			}
		}
		&.current, &#current, &:hover > {
			a, .item, .separator {
				.textColor(@light-grey)!important;
			}
		}
	}
	.readon {
		color: @dark-grey !important;
		border: 1px solid darken(@light-grey, 12%) !important;
		background: darken(@light-grey, 8%) !important;
		&:hover {
			color: @dark-grey !important;
			background: lighten(@light-grey, 10%) !important;
		}
	}
}
.box4 {
	color: lighten(@black, 50%);
	background: @black;
	a:not(.readon) {
		.textColor(@black) !important;
		&:hover {
			color: inherit;
		}
	}
	ul.menu li {
		a, .item, .separator {
			color: @whitey !important;
			&:hover {
				.textColor(@black);
			}
		}
		&.current, &#current, &:hover > {
			a, .item, .separator {
				.textColor(@black)!important;
			}
		}
	}
	.readon {
		color: @white;
		border: 1px solid darken(@black, 12%);
		background: darken(@black, 8%);
		&:hover {
			color: @white;
			background: lighten(@black, 10%);
		}
	}
}
.box5 {
	border: 1px solid darken(@accent-color1, 10%);
}
.box6 {
	border: 1px solid darken(@white, 10%);
}

.title1 {
	.module-title {
		.title {
			color: @white;
			background: @accent-color1;
		}
	}
	.readon {
		color: @white;
		border: 1px solid darken(@accent-color1, 12%);
		background: darken(@accent-color1, 5%);
		&:hover {
			color: @white;
			background: lighten(@accent-color1, 10%);
		}
	}
}
.title2 {
	.module-title {
		.title {
			color: @white;
			background: @accent-color2;
		}
	}
	.readon {
		color: @white;
		border: 1px solid darken(@accent-color2, 12%);
		background: darken(@accent-color2, 5%);
		&:hover {
			color: @white;
			background: lighten(@accent-color2, 10%);
		}
	}
}
.title3 {
	.module-title {
		.title {
			color: @white;
			background: @dark-grey;
		}
	}
	.readon {
		color: @white;
		border: 1px solid darken(@dark-grey, 12%);
		background: darken(@dark-grey, 5%);
		&:hover {
			color: @white;
			background: lighten(@dark-grey, 10%);
		}
	}
}
.title4 {
	.module-title {
		.title {
			color: @dark-grey !important;
			background: @light-grey !important;
		}
	}
	.readon {
		color: @dark-grey !important;
		border: 1px solid darken(@light-grey, 12%) !important;
		background: darken(@light-grey, 5%) !important;
		&:hover {
			color: @dark-grey !important;
			background: lighten(@light-grey, 10%) !important;
		}
	}
}
.title5 {
	.module-title {
		.title {
			font-size: 2em;
			line-height: 1.25em;
			text-transform: uppercase;
			font-family: @alt-font-family;
			font-weight: normal;
			padding: 0;
			&:after {
				font-family: FontAwesome;
				content: '\f178';
				margin: 0 15px;
			}
		}
	}
}
.title6 {
	.module-title {
		.title {
			font-size: 2em;
			line-height: 1.25em;
			font-family: @alt-font-family;
			font-weight: normal;
			padding: 0;
		}
	}
}



// Buttons
.button, .readon, a.readmore, button.validate, p.readmore a, #member-profile a, #member-registration a, .formelm-buttons button, .login .btn, .logout-button .btn, .sprocket-readmore, &.roksearch_results a.clr {
	display: inline-block;
	padding: 8px 15px;
	line-height: normal;
	font-size: @base-font-size - 2;
	font-family: @alt-font-family;
	text-transform: uppercase;
	border-radius: 0;
	text-shadow: none;
	text-decoration: none;
	.boxSizing(border-box);
	.transition(all 0.2s ease-in);
	&:hover {
		text-shadow: none;
		box-shadow: none;
	}
}
.button, .readon, a.readmore, button.validate, p.readmore a, #member-profile a, #member-registration a, .formelm-buttons button, .login .btn, .logout-button .btn, .sprocket-readmore, &.roksearch_results a.clr {
	color: @white;
	border: 1px solid transparent;
	background: @accent-color1;
	&:hover {
		color: @white;
		background: lighten(@accent-color1, 10%);
	}
}
.readon2 {
	background: transparent;
	color: inherit;
	font-weight: bold;
	padding: 0;
	margin: 0;
	font-size: @base-font-size - 2;
	font-family: @alt-font-family;
	text-transform: uppercase;
	&:hover {
		color: @accent-color1;
	}
	&:after {
		font-family: FontAwesome;
		content: '\f178';
		margin: 0 5px;
	}
}
.btn-primary.disabled, .btn-primary[disabled], .btn-primary.disabled:hover, .btn-primary[disabled]:hover {
	color: darken(@accent-color1, 35%) !important;
	text-shadow: none;
}

// Label
label {
	line-height: inherit;
	vertical-align: middle;
}

// Inputs
textarea,
input,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],

input[type="tel"],
input[type="color"] {
	color: @body-text;
	background-color: @body-contrast;
	border: 1px solid @body-border;
	border-radius: 0;
	height: 35px;
	padding: 0 15px;
	margin: 0;
	vertical-align: middle;
	box-shadow: none;
	.boxSizing(border-box);
	&:focus {
		border-color: @accent-color1;
	}
}



input[type="search"],
{
	color: @body-text;
	background-color: @body-contrast;
	border: 1px solid @body-border;
	border-radius: 0;
	height: 35px;
	width: 165px;
	padding: 0 15px;
	margin: 0;
	vertical-align: middle;
	box-shadow: none;
	.boxSizing(border-box);
	&:focus {
		border-color: @accent-color1;
	
	}
}





.input-append .add-on, .input-prepend .add-on,
.input-append .btn, .input-prepend .btn {
	height: 35px;
	padding: 0 15px;
	line-height: 35px;
	.boxSizing(border-box);
}

// SelectBox
select,
select[multiple],
select[size] {
	height: auto;
	color: @body-text;
	background-color: @body-contrast;
	border: 1px solid @body-border;
	border-radius: 3px;
	padding: 6px;
	margin: 0;
	vertical-align: middle;
}

// TextArea
textarea {
	color: @body-text;
	background-color: @body-contrast;
	border: 1px solid @body-border;
	border-radius: 3px;
	margin: 0;
	padding: 5px 10px;
	vertical-align: middle;
	&:focus {
		border-color: @accent-color1;
	}
}

// Abbreviations and acronyms
abbr[title] {
  	border-bottom: 1px dotted @body-border;
}

// Blockquotes
blockquote {
	border-left: 5px solid @body-border;
	&.pull-right {
		border-right: 5px solid @body-border;
	}
	small {
		color: @body-text-light;
	}
}

// Canvas
canvas {
    width: 100% !important;
    max-width: 1200px;
}

// Gantry Font Sizer
#rt-accessibility {
	.rt-desc {
		float: left;
		margin-right: 8px;
	}
	#rt-buttons {
		.button {
			font-family: FontAwesome;
			padding: 0;
			width: 25px;
			height: 25px;
			line-height: 25px;
			text-align: center;
			vertical-align: middle;
			border-radius: 2px;
		}
		.small {
			font-size: inherit;
		}
		.small .button:after {
			content: "\f068";
		}
		.large .button:after {
			content: "\f067";
		}
	}
}

// Gantry ToTop
#gantry-totop {
	background: url(../images/utilities/bottom-top.png) center center no-repeat;
	color: @copyright-textcolor;
	display: inline-block;
	width: 26px;
	height: 32px;
	float: right;
	opacity: 0.5;
	.transition(opacity 0.3s ease);
	.transform(translate(0));
	&:hover {
		opacity: 1;
	}
	@media only screen and (max-width: 767px)  {
		body.layout-mode-responsive & {
			float: none;
		}
	}
}

// Gantry Branding
.rt-powered-by {
	display: block;
	background: url(../images/utilities/rockettheme.png) 0 0 no-repeat;
	width: 179px;
	height: 38px;
	opacity: 0.5;
	.transition(opacity 0.3s ease-in);
	.transform(translate(0));
	&:hover {
		opacity: 1;
	}
}

// Popup/Login Module Feature
#rt-popupmodule, #rt-popuplogin {
	display: none;
	.rt-block {
		margin: 0;
		padding: 0;
	}
	.title {
		margin-top: 0;
	}
}
#rt-popuplogin {
	#form-login-remember {
		clear: both;
	}
	#modlgn-passwd, #modlgn-username {
		width: 250px;
		margin-right: 10px;
	}
	#form-login-secretkey {
		margin-right: 0;
		.icon-help {
			line-height: 1;
		}
	}
	label {

	}
	input.button {
		clear: both;
		display: block;
	}
	p {
		float: left;
		margin-bottom: 10px;
	}
	.readon {
		float: right;
	}
	ul li {
		float: none;
		display: inline-block;
		margin-right: 10px;
	}
}

// Blog
.article-info {
	dd {
		text-transform: uppercase;
		background: transparent;
		font-family: @alt-font-family;
		font-weight: bold;
		font-size: 85%;
	}
}
.blog {
	.pagination .counter {
		text-align: inherit;
	}
}
.blog-featured {
	.items-row {
		border-right: 1px solid darken(@white, 10%);
		border-left: 1px solid darken(@white, 10%);
		border-bottom: 1px solid darken(@white, 10%);
		padding: 25px 25px 0 25px;
		&:first-child {
			border-top: 1px solid darken(@white, 10%);
		}
		&.row-0 {
			border-top: 1px solid darken(@white, 10%);
		}
	}
	.item-separator {
		display: none;
	}
	.item > h2 a {
		color: inherit;
		&:hover {
			color: @accent-color1;
		}
	}
	.article-info {
		dd {
			display: inline-block;
			margin-right: 15px;
		}
	}
}

// Pagination
.pagination {
	text-align: left;
	ul {
		margin: 0 -2px;
		li {
			color: lighten(@body-text, 25%);
			margin: 0 2px;
			a, span, &:first-child > a, &:first-child > span, &:last-child > a, &:last-child > span {
				padding: 10px 15px;
				margin: 0;
				border: 2px solid darken(@body-background, 15%);
				border-radius: 0;
				font-family: @alt-font-family;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 85%;
				@media only screen and (max-width: 480px) {
					body.layout-mode-responsive & {
						font-size: 80%;
						padding: 5px 8px;
					}
				}
			}
			a:hover {
				border: 2px solid @body-text;
				color: @body-text;
			}
			&:not([class^="pagination-"]) {
				span {
					border: 2px solid @body-text;
					background: @body-text;
					color: @body-background !important;
					&:hover {
						border: 2px solid @body-text;
						color: @body-text;
					}
				}
			}
		}
	}
}

// Menu
ul.menu {
	li {
		font-family: @alt-font-family;
		text-transform: uppercase;
		font-weight: bold;
	}
}

// Newsflash
[class*="newsflash-title"] {
	font-family: @alt-font-family;
    letter-spacing: -1px;
    line-height: 1.25em;
}

// Horizontal Menu
.rt-horizmenu {
	.menu {
		list-style: none;
		li {
			display: inline-block;
			margin-bottom: 0;
			&:last-child {
				a:after, .item:after, .separator:after {
					display: none;
				}
			}
		}
		a, .item, .separator {
			padding: 5px 0;
			color: inherit;
			&:hover {
				color: @accent-color1;
			}
			&:before {
				display: none !important;
			}
			&:after {
				font-family: FontAwesome;
				content: '\f111';
				font-size: 30%;
				vertical-align: top;
				margin: 0 25px 0 20px;
			}
		}
	}
}

// Social Buttons
.rt-social-buttons {
	text-align: right;
	.social-button {
		color: @header-background;
		margin: 0 0.01em;
		background: @header-textcolor;
	    display: inline-block;
	    font-size: 1em;
	    width: 22px;
	    height: 22px;
	    line-height: 22px;
	    text-align: center;
		&:hover {
			color: @accent-color1;
		}
	}
	@media (min-width: 768px) and (max-width: 959px) {
		body.layout-mode-responsive & {
			padding: 15px 0;
		}
	}
	@media (max-width: 767px) {
		body.layout-mode-responsive & {
			text-align: center;
		}
	}
}

// SideSlider
#rt-sideslider {
	@media (max-width: 767px) {
		body.layout-mode-responsive.sideslider-type-dynamic & {
			display: none;
		}
	}
}

.sideslider-type-dynamic {
	// SideSlider Button
	.rt-sideslider-button, .rt-sideslider-close-button {
		font-size: 1.75em;
		position: absolute;
		z-index: 1000;
		top: 15px;
		width: 32px;
		height: 32px;
		padding: 0;
		line-height: 28px;
		text-align: center;
		border-radius: 0;
		color: @accent-color1;
		background-color: transparent;
		border: 2px solid @accent-color1;
	}
	.rt-sideslider-button {
		left: 15px;
		.transition(opacity 0.3s ease);
		&:before {
			font-family: FontAwesome;
			content: '\f0da';
			margin-left: 2px;
		}
		&:hover {
			opacity: 0.6;
		}
	}
	&.rt-show-sideslider .rt-sideslider-button {
		opacity: 0;
	}

	// Close Button
	.rt-sideslider-close-button {
		right: 15px;
		&:before {
			font-family: FontAwesome;
			content: '\f0d9';
			margin-right: 2px;
		}
	}

	// SideSlider Content
	.rt-sideslider-wrap {
		position: absolute;
		z-index: 1001;
		width: 300px;
		height: 100%;
		color: @sideslider-textcolor;
		background: @sideslider-background;
		.transform(translate3d(-320px,0,0));
		.transition(transform 0.4s);
		-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	}
	&.rt-show-sideslider .rt-sideslider-wrap {
		.transform(translate3d(0,0,0));
		.transition(transform 0.8s);
		-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	}

	#rt-sideslider-overlay:before {
	    background-color: transparent;
	    position: absolute;
	    content: '';
	    .transition(background-color 0.8s ease);
		-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	}
    &.rt-show-sideslider #rt-sideslider-overlay:before {
    	background-color: rgba(0, 0, 0, 0.5);
    	z-index: 999;
	    width: 100%;
	    height: 100%;
    }
}

#with-sideslider.sideslider-type-static {
	// Large Mode
	@media only screen and (min-width: 1500px) {
		&.layout-mode-responsive {
			.rt-container {
				width: 1200px;
			}
		}
	}

	// Desktop Mode
	@media only screen and (min-width: 1280px) and (max-width: 1499px) {
		&.layout-mode-responsive {
			.rt-container {
				width: 960px;
			}
		}
	}

	// Tablet Mode
	@media only screen and (min-width: 1080px) and (max-width: 1279px) {
		&.layout-mode-responsive {
			.rt-container {
				width: 768px;
			}
			.rt-sideslider-wrap {
				width: 250px;
			}
		}
	}

	// Mobile Mode
	@media only screen and (max-width: 1079px)  {
		&.layout-mode-responsive {
			.rt-container {
				width: 480px;
				[class*="rt-grid"], [class*="gantry-width"] {
					.flex-basis(100%);
				}
			}
			.rt-sideslider-wrap {
				width: 250px;
			}
		}
	}
	@media only screen and (max-width: 767px) {
		&.layout-mode-responsive {
			#rt-page-surround,
			#rt-body-surround {
				display: block;
			}
		}
	}
	@media only screen and (max-width: 480px) {
		&.layout-mode-responsive {
			.rt-container {
				width: 100%;
			}
		}
	}

	#rt-page-surround {
		display: table;
		height: 100%;
	}
	#rt-sideslider {
	    display: table-cell;
	    height: 100%;
	}
	#rt-body-surround {
	    display: table-cell;
	    vertical-align: top;
	    width: 100%;
	}
	// SideSlider Content
	.rt-sideslider-wrap {
		//position: absolute;
		z-index: 1001;
		width: 300px;
		height: 100%;
		color: @sideslider-textcolor;
		background: @sideslider-background;
	}
}
#rt-sideslider {
	@media (max-width: 767px) {
		body.layout-mode-responsive#with-sideslider.sideslider-type-static & {
			display: none;
		}
	}
}
