// Colors ----------------------------------------------------------------------------------------
@white:							#ffffff;
@black: 						#111111;
@dark-grey:						#3B3B3B;
@grey:                          #555555;
@light-grey:					#DDDDDD;
@red:                           #E74C3C;
@green:                         #1ABC9C;

// Fonts -----------------------------------------------------------------------------------------
@font-face {
    font-family: 'merriweather';
    src: url('../fonts/merriweather-regular-webfont.eot');
    src: url('../fonts/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merriweather-regular-webfont.woff') format('woff'),
         url('../fonts/merriweather-regular-webfont.ttf') format('truetype'),
         url('../fonts/merriweather-regular-webfont.svg#merriweather') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather';
    src: url('../fonts/merriweather-italic-webfont.eot');
    src: url('../fonts/merriweather-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merriweather-italic-webfont.woff') format('woff'),
         url('../fonts/merriweather-italic-webfont.ttf') format('truetype'),
         url('../fonts/merriweather-italic-webfont.svg#merriweather') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'merriweather';
    src: url('../fonts/merriweather-bold-webfont.eot');
    src: url('../fonts/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merriweather-bold-webfont.woff') format('woff'),
         url('../fonts/merriweather-bold-webfont.ttf') format('truetype'),
         url('../fonts/merriweather-bold-webfont.svg#merriweather') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather';
    src: url('../fonts/merriweather-bolditalic-webfont.eot');
    src: url('../fonts/merriweather-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merriweather-bolditalic-webfont.woff') format('woff'),
         url('../fonts/merriweather-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/merriweather-bolditalic-webfont.svg#merriweather') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'nexa';
    src: url('../fonts/nexa-light-webfont.eot');
    src: url('../fonts/nexa-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa-light-webfont.woff') format('woff'),
         url('../fonts/nexa-light-webfont.ttf') format('truetype'),
         url('../fonts/nexa-light-webfont.svg#nexa') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nexa';
    src: url('../fonts/nexa-bold-webfont.eot');
    src: url('../fonts/nexa-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa-bold-webfont.woff') format('woff'),
         url('../fonts/nexa-bold-webfont.ttf') format('truetype'),
         url('../fonts/nexa-bold-webfont.svg#merriweathersans') format('svg');
    font-weight: bold;
    font-style: normal;
}
@base-font-family:              'merriweather', Verdana, Helvetica, Arial, sans-serif;
@alt-font-family:               'nexa', Verdana, Helvetica, Arial, sans-serif;
@base-font-size:				14px;
@base-line-height:				26px;

// Menu ------------------------------------------------------------------------------------------
@menu-font-size:				13px;
@menu-line-height:				26px;
@menu-side-width:               280px;
@menu-dropdown-top-space:       0px;
@menu-flyout-side-space:        17px;