/**
* @version   $Id: mixins.less 12813 2013-08-16 21:57:09Z arifin $
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

@import "utilities.less";
@import "dropdowns.less";
@import "popover.less";
@import "buttons.less";

/* Ellipsis */
.ellipsis() {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

// Box Sixing
.boxSizing(@boxSizing) {
	-webkit-box-sizing: @boxSizing;
	-moz-box-sizing: @boxSizing;
	box-sizing: @boxSizing;
}

// Backface Visibility
.backface-visibility(@backfaceVisibility) {
	-webkit-backface-visibility: @backfaceVisibility;
	-moz-backface-visibility: @backfaceVisibility;
	-ms-backface-visibility: @backfaceVisibility;
	backface-visibility: @backfaceVisibility;
}

// Transform
.transform(@transform) {
  -webkit-transform: @transform;
  -moz-transform:    @transform;
  -ms-transform:     @transform;
  -o-transform:      @transform;
  transform:         @transform;
}

// Text Color
.textColor (@a) when (lightness(@a) >= 50%) {
	color: darken(@a, 35%);
}
.textColor (@a) when (lightness(@a) < 50%) {
	color: lighten(@a, 35%);
}

// Tint and Shade
.tintBackground(@color, @percent){
  background-color: mix(#ffffff, @color, @percent);
}
.shadeBackground(@color, @percent){
  background-color: mix(#000000, @color, @percent);
}
.tintColor(@color, @percent){
  color: mix(#ffffff, @color, @percent);
}
.shadeColor(@color, @percent){
  color: mix(#000000, @color, @percent);
}

// Accent Color
.accentColor (@a1, @a2, @background) when (@a1 = @background), (@a2 = @background) {
	a {
		color: darken(@background, 20%);
		&:hover {
			color: darken(@background, 30%);
		}
	}
	.readon {
		.buttonStyleFlat(@white, darken(@background, 10%), 0px);
		&:hover {
			.buttonStyleFlat(@white, darken(@background, 20%), 0px);
		}
	}
}

// System Messages
.sys-msg-style (@textColor: #0055BB, @bgColor: #BFD3E6) {
	color: @textColor;
	padding: 15px;
	border-radius: 4px;
	#gradient > .vertical(darken(@bgColor, 5%), darken(@bgColor, 5%));
}
.sys-msg () {
	.sys-msg-style(#0055BB, #BFD3E6);
}
.sys-msg (info) {
	.sys-msg-style(#4A677D, #B2CADA);
}
.sys-msg (error) {
	.sys-msg-style(#CC0000, #EFD3D4);
}

.sys-msg (notice) {
	.sys-msg-style(#A08B4C, #F5ECC1);
}
.sys-msg (success) {
	.sys-msg-style(#468847, #DFF0D8);
}

// Dropdown Direction
.rt-dropdown-left-direction() {
	right: 0 !important;
	left: auto !important;
}
.rt-flyout-left-direction() {
	right: 100% !important;
	left: auto !important;
}
.rt-dropdown-right-direction() {
	left: 0 !important;
	right: auto !important;
}
.rt-flyout-right-direction() {
	left: 100% !important;
	right: auto !important;
}

// --------------------------------------------------
// Flexbox LESS mixins
// --------------------------------------------------

// Flexbox display
// flex or inline-flex
.flex-display(@display: flex) {
	display: ~"-webkit-@{display}";
	display: ~"-moz-@{display}";
	display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
	display: ~"-ms-@{display}"; // IE11
	display: @display;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
.flex(@columns: initial) {
  -webkit-flex: @columns;
     -moz-flex: @columns;
      -ms-flex: @columns;
          flex: @columns;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
.flex-direction(@direction: row) {
  -webkit-flex-direction: @direction;
     -moz-flex-direction: @direction;
      -ms-flex-direction: @direction;
          flex-direction: @direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
.flex-wrap(@wrap: nowrap) {
  -webkit-flex-wrap: @wrap;
     -moz-flex-wrap: @wrap;
      -ms-flex-wrap: @wrap;
          flex-wrap: @wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
.flex-flow(@flow) {
  -webkit-flex-flow: @flow;
     -moz-flex-flow: @flow;
      -ms-flex-flow: @flow;
          flex-flow: @flow;
}

// Display Order
// - applies to: flex items
// <integer>
.flex-order(@order: 0) {
  -webkit-order: @order;
     -moz-order: @order;
      -ms-order: @order;
          order: @order;
}

// Flex grow factor
// - applies to: flex items
// <number>
.flex-grow(@grow: 0) {
  -webkit-flex-grow: @grow;
     -moz-flex-grow: @grow;
      -ms-flex-grow: @grow;
          flex-grow: @grow;
}

// Flex shr
// - applies to: flex itemsink factor
// <number>
.flex-shrink(@shrink: 1) {
  -webkit-flex-shrink: @shrink;
     -moz-flex-shrink: @shrink;
      -ms-flex-shrink: @shrink;
          flex-shrink: @shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width>
.flex-basis(@width: auto) {
  -webkit-flex-basis: @width;
     -moz-flex-basis: @width;
      -ms-flex-basis: @width;
          flex-basis: @width;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
.justify-content(@justify: flex-start) {
  -webkit-justify-content: @justify;
     -moz-justify-content: @justify;
      -ms-justify-content: @justify;
          justify-content: @justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
.align-content(@align: stretch) {
  -webkit-align-content: @align;
     -moz-align-content: @align;
      -ms-align-content: @align;
          align-content: @align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
.align-items(@align: stretch) {
  -webkit-align-items: @align;
     -moz-align-items: @align;
      -ms-align-items: @align;
          align-items: @align;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch
.align-self(@align: auto) {
  -webkit-align-self: @align;
     -moz-align-self: @align;
      -ms-align-self: @align;
          align-self: @align;
}