/* Copyright (C) 2011 R.A.S.Lab */

/*
 * Graphical Checkbox
 */


div.yoo-zoo .element-graphibox {
	font-size: 14px; 
	color: 0000FF;	
	text-align: center;
	margin: 5px 5px;
}
	
div.yoo-zoo .element-graphibox .gbopt{
	float:left;
	margin-right: 5px;
	
}

div.yoo-zoo .element-graphibox .gbopt img {
	border: 0px;		
}
